.background {
    background: linear-gradient(-45deg, #e0f2fe, #dbeafe, #bae6fd, #e8f4fd, #cfe8fc, #eff6ff);
    background-size: 400% 400%;
    animation: gradientShift 10s ease infinite;
}


@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}